// Importation des fonts
@font-face {
    font-family: "AnekLigth";
    src: url("../fonts/AnekMalayalam-VariableFont_wdth\,wght.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "AnekBold";
    src: url("../fonts/AnekMalayalam-VariableFont_wdth\,wght.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "iceberg";
    src: url("../fonts/Iceberg-Regular.ttf");
}

// RESET CSS
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0D0D0F;
}

// entete
header{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(180deg, #0D0D0F 0%, rgba(13, 13, 15, 0) 100%);

    // navbars
    nav{
        li{
            display: inline-block;

            a{
                padding: 7px 20px;
                text-decoration: none;
                color: #fff;
                font-family: "anekLigth";
                font-size: 14px;
                transition: .3s ease-in-out;

                &.logo{
                    font-family: "anekBold";
                    font-size: 22px;
                    position: relative;
                    bottom: -2px;
                }
                &.active{
                    font-family: "anekBold";
                }
                &:hover{
                    color: #ddd;
                }

            }
        }
    }
}

// prensentation group
.group-presentation{
    margin-top: 20px;
    padding: 0 80px;

    .title{
        h1{
            font-size: 80px;
            font-family: "iceberg";
            font-style: normal;
            letter-spacing: -3px;
            background: linear-gradient(175.79deg, #f8c690 20.9%, rgba(255, 132, 0, 0) 96.57%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-emphasis-color: transparent;
            text-transform: uppercase;
        }
    }
    .content{
        width: 500px;
        height: auto;
        color: #fff;
        font-family: "anekLigth";
        font-size: 15px;
        text-align: justify;

        .btn{
            margin: 20px 0;

            button{
                cursor: pointer;
                border: 1px solid #fff;
                padding: 8px 40px;
                background: transparent;
                color: #fff;
                font-family: "anekLigth";
                font-size: 17px;
                transition: all .3s;

                &:hover{
                    color: #ddd;
                }
            }
        }
    }
}

.container-footer{
    width: 700px;
    height: 220px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(56, 56, 56);
    position: absolute;
    left: 0;
    bottom: 0;

    .cart-bitmap{
        position: absolute;
        top: -30px;
        left: 50px;

        .image{
            width: 150px;
            height: 150px;
            float: left;
            box-shadow: 0 0 40px 0 rgba(255,255,255, .5);
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title{
            margin-top: 90px;
            margin-left: 160px;
            h1{
                color: #fff;
                font-family: "iceberg";
                font-weight: 400;
                font-size: 2.5em;
                text-shadow: 0 0 50px rgba(255, 255, 255, 1);;
            }
        }
        .content-text{
            margin-top: 40px;
            color: #fff;
            font-family: "anekLigth";
            font-size: 14px;
            text-align: justify;
            padding-right: 80px;
        }
    }

    .group-btn{
        margin-top: 10px;
        
        button{
           margin-right: 20px;
           border: none;
           background: none;
           outline: none;
           color: rgb(165, 165, 165);
           font-family: "anekLigth";

           &.active{
            color: #fff;
           }
        }
    }
}

// fond bitmap
.container-bitmap{
    position: absolute;
    width: 1200px;
    height: auto;
    top: 0;
    right: 0;
    z-index: -1;
    

    img{
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
}


